.navitem {
  color: white !important ;
  display: flex;

  margin-left: 0.2rem;
  justify-content: end;
  z-index: 1000;
  width: 100% !important;
}

.navsec {
  z-index: 100;
}
.navsec:only-child {
  z-index: 1000 !important;
}
.test {
  color: red;
}
.navbar_navsec__HIqwu {
  position: fixed !important;
}
.navbar-nav {
  position: fixed !important;
  z-index: 1000;
}
